<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weibo.dashboard.dao.CommentMapper">
	<resultMap id="commentMap" type="com.weibo.dashboard.entity.Comment">
		<id property="id" column="id" javaType="int" />
		<result property="cDate" column="c_date" javaType="Date" />
		<result property="cContent" column="c_content" javaType="String" />
		<result property="cAuthorName" column="c_author_name" javaType="String" />
		<result property="postId" column="post_id" javaType="String" />
	</resultMap>
	
	<insert id="insert" parameterType="com.weibo.dashboard.entity.Comment" useGeneratedKeys="true" keyProperty="id">
		insert into comments
		(c_date,c_author_name,post_id,c_content)values
		(now(),#{cAuthorName},#{postId},#{cContent})
	</insert>
	<delete id="delete">
		delete from comments where id=#{id}
	</delete>
	
</mapper>